<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xr.hellochartsdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.other.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.other.AboutActivity"
            android:label="关于"
            android:parentActivityName=".ui.activity.other.MainActivity" />
        <activity
            android:name=".ui.activity.chart.LineChartActivity"
            android:label="Line Charts"
            android:parentActivityName=".ui.activity.other.MainActivity" />
        <activity
            android:name=".ui.activity.chart.ColumnChartActivity"
            android:label="Column Charts"
            android:parentActivityName=".ui.activity.other.MainActivity" />
        <activity
            android:name=".ui.activity.chart.PieChartActivity"
            android:label="Pie Chart"
            android:parentActivityName=".ui.activity.other.MainActivity" />
        <activity
            android:name=".ui.activity.chart.BubbleChartActivity"
            android:label="Bubble Chart"
            android:parentActivityName=".ui.activity.other.MainActivity" />
        <activity
            android:name=".ui.activity.chart.PreviewLineChartActivity"
            android:label="PreviewLine Chart"
            android:parentActivityName=".ui.activity.other.MainActivity" />
        <activity
            android:name=".ui.activity.chart.PreviewColumnChartActivity"
            android:label="PreviewColumn Chart"
            android:parentActivityName=".ui.activity.other.MainActivity" />
    </application>

</manifest>