<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xr.hellochartsdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.other.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.other.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activity.other.BasicUseActivity"
            android:theme="@style/NoAction" />
        <activity
            android:name=".ui.activity.other.HighGroupActivity"
            android:theme="@style/NoAction" />
        <activity
            android:name=".ui.activity.other.UseSceneActivity"
            android:theme="@style/NoAction" />
        <activity
            android:name=".ui.activity.other.AboutActivity"
            android:theme="@style/NoAction" />
        <activity
            android:name=".ui.activity.chart.LineChartActivity"
            android:label="Line Charts" />
        <activity
            android:name=".ui.activity.chart.ColumnChartActivity"
            android:label="Column Charts" />
        <activity
            android:name=".ui.activity.chart.PieChartActivity"
            android:label="Pie Chart" />
        <activity
            android:name=".ui.activity.chart.BubbleChartActivity"
            android:label="Bubble Chart" />
        <activity
            android:name=".ui.activity.chart.PreviewLineChartActivity"
            android:label="PreviewLine Chart" />
        <activity
            android:name=".ui.activity.chart.PreviewColumnChartActivity"
            android:label="PreviewColumn Chart" />
        <activity
            android:name=".ui.activity.chart.ComboLineColumnChartActivity"
            android:label="ComboLineColumn Chart" />
        <activity
            android:name=".ui.activity.chart.LineDependColumnActivity"
            android:label="LineDependColumn Chart" />
        <activity
            android:name=".ui.activity.scene.QueRepActivity"
            android:theme="@style/NoAction" />
        <activity
            android:name=".ui.activity.scene.WeatherActivity"
            android:theme="@style/NoAction" />
    </application>

</manifest>